*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.Menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
    width: 30%;
    gap: 10px;
    margin: auto;
    margin-top: 200px;
}
.foob-item {
    width: 30%;
    text-align: center;
}
.foob-item img{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
    
}
.foob-item p{
    font-weight: bold;
}
.foob {
}
