*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.title {
width: 100%;
height: 62px;
background-color: #c0392b;
display: flex;
justify-content: space-between;
padding: 0 40px;
align-items: center;
color: #ffffff;
}
.logo{
    font-size: 28px;
    color: #ffffff;
}
.link {
    display: flex;
    gap: 40px;
}
.list-link {
}
.hero {
        
    flex-wrap: wrap;
}
.hero-container {
}
.hero-text {
}
.menu {
}
.menu-img {
}
.footer {
}
